<!DOCTYPE html>
<html>

<head>
    <meta name="google-site-verification" content="641Cf9hD6dJ6zjFtoP7y8llXvT-pcCjd1gA11f8BFtg" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ShareMySubs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <link href="https://fonts.googleapis.com/css?family=Monoton|Roboto|Oswald|Open+Sans" rel="stylesheet">
    <link rel='stylesheet' type="text/css" href='/assets/sweetalerts/sweetalert2.css'>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4386444239255491",
            enable_page_level_ads: true
        });
    </script>
    <script src="/assets/sweetalerts/sweetalert2.js"></script>
    <script src="/scripts/main.js"> </script>
</head>

</head>

<body>
        <div class="main_header">
            <div class="container">
                <a href="/">
                    <h1 class=" page-headline">ShareMySubs</h1>
                </a>
                <p class="lead">A simple way to share your youtube subscribtions with other people.</p>
            </div>
        </div>
    <main class=" page_main ">
        <div id="main_container" class="container main_container ">
            {{{body}}}
        </div>
    
    </main>
    <footer class=" main_footer ">
        <div class="container main_footer-content">
            <div class="main_footer-content--inner">
                <p>© 2019 <a class="ninjas_code_ltd" target="_blank" href="https://ninjascode.com/">
                    NINJAS<span class="code-ltd">CODE</span>
                    </a>  
                </p>
                <a href="/privacy">Privacy</a>
            </div>
        </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


    <script>
        var channelsTable = null
        var show_description = { targets: [2], visible: true }
        var screen_width = $(window).width()
        function initializeTable() {
            channelsTable = $('#myTable').DataTable({
                "paging": true,
                "ordering": false,
                "info": false,
                "scrollY": "auto",
                "scrollCollapse": true,
                'deferRender':    true,
                "language": {
                    "paginate":
                    {
                        "previous": "Prev"
                    }
                },
                "columnDefs": [
                    show_description
                ],
                bAutoWidth: false,
                aoColumns: [
                    { sWidth: '5%' },
                    { sWidth: '20%' },
                    { sWidth: '65%' },
                    { sWidth: '10%' },

                ],
            })
        }
        $(document).ready(function () {
            show_description.visible = screen_width <= 600 ? false : true
            if ($("#myTable"))
                initializeTable()
                

            // if the user in on view channels link page; then show a Modal with wellcome message
            //console.log(window.location.href.toLowerCase().split('/')) 
            // length is 5 only on channels page
            /*
            if(window.location.href.toLowerCase().split('/').length == 5)
                Swal.fire({
                    title: '{Username}',
                    text: '{Wellcome Message Text}',
                    imageUrl: '/images/avatar.png',
                    imageWidth: 200,
                    imageHeight: 200,
                    imageAlt: 'Custom image',
                    animation: false
                })
            */
            // Get the column API object
            //let column = channelsTable.column( 1 );

            // Toggle the visibility
            //column.visible( ! column.visible() );
        })
    </script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="/auth.js"></script>
    <script src='/subscribe.js'></script>

    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>

</body>


</html>