<div id="main_body" class="main_body">
    <button id="main-btn" class="main-btn main_body-btn center-block">
        <img  class="main-play-img" height="60px" style=" color: #fff;" width="56px" src="/images/play-button.svg"> LET'S DO IT
    </button>
    <p class="main_body-text"> Share Subscribed Channels
    </p>
</div>
<script>
    $('#main-btn').on('click', function () { handleAuthClick() })
</script>