
<button id="main-btn"  class="main_body-btn center-block">
    <img class height="60px" style="padding-bottom: 10px; color: #fff;"  width="56px" src="/images/play-button.svg" > 
            LET'S DO IT 
</button>
<p class="main_body-text"> Share Subscribed Channels </p>   