

<div class="">
    <div class="authenicate-request-text"> You have not authorized this app or you are signed out </div>
    <div class="link-container" >
        <h3>Your link is generated</h3>
        <a id="txt-sharedlink" > </a>
        <a href="" id="a-sharedlink" target="blank">Clipboard</a>
    </div>
</div>

<div class="btn-controls">
    <button id="sign-in-or-out-button" style="margin-left: 25px">Sign In/Authorize</button>
    <button id="revoke-access-button" style="display: none; margin-left: 25px">Revoke access</button>
</div>


<hr>

<script src="/auth.js"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>